# RENAME THIS FILE TO env.py and edit the variables below
MAX_SECONDS=59
SEND_TO=["email@email.com"]
SEND_FROM="email@email.com"
USER='email@email.com'
PASS='password_goes_here'
SMTP_HOST='my_smtp.host.com'
SMTP_PORT=587
OUT_FILE="./keys-found.txt"
subject = 'BitCoin Hunter Found Something !'
email_text = "BitCoin Hunter discovered a matching public and private key for a bitcoin address. Please check your server for the keys-found.txt file to see what you have found"

